{% include  "static/head.html" %}

<div class="content-wrapper">
  <div style="margin: 20px;"></div>
  <section class="content">
    <div class="container-fluid">
      <!-- SELECT2 EXAMPLE -->
      <div class="card card-default">
        <div class="card-header">
          <h3 class="card-title">Add New Product</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <form method="POST" action="" id="addproduct">
                {% csrf_token %}
                <!-- /.form-group -->
                <div class="form-group">
                  <label for="prname">الإسم</label>
                  <input id="prname" name="prname" class="form-control" type="text" placeholder="الإسم">
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-6 col-6">
                      <label for="catename">إختر القسم</label>
                      <select id="catename" name="catename" class="form-control select2" style="width: 100%;">
                        <option selected value="0">إختر القسم</option>
                        {% for cat in categotys %}
                        <option value="{{cat.id}}">
                          {{ cat.name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="col-lg-6 col-6 ">
                      <label for="salseselctor">إختر المندوب</label>
                      <select id="catselc" name="catselc" class="form-control select2" style="width: 100%;">
                        <option selected value="0">إختر المندوب</option>
                        {% for sales in salsesnames %}
                        <option value="{{sales.id}}">
                          {{ sales.name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-6">
                      <label>كود المنتج</label>
                      <input name='prodcode' id='prodcode' class="form-control" type="text" placeholder="Product Code">
                    </div>
                    <div class="col-lg-3 col-12">
                      <label>إنشاء QrCode</label>
                      <button id='gnrateqrcode' style="width: 100%; border: 1px solid #ddd" type="button"
                        class="btn btn-light">إنشاء Qr
                        Code</button>
                    </div>
                    <div class="col-lg-3 col-12 gntdqr">
                      <label>Qr Code تم إنشاء</label>
                      <div id="gnimg">
                        <!-- <img src="/static/qrcodes/qrcode.png" alt='Gneraed QrCode' /> -->
                      </div>
                    </div>
                  </div>
                </div>
				<div class="form-group">
                  <label for="mincount">أقل عدد</label>
                  <input id="mincount" name="mincount" class="form-control" type="number" placeholder="أقل عدد">
                </div>
                <div class="form-group">
                  <label for="rcount">العدد الفعلي</label>
                  <input name="rcount" id="rcount" class="form-control" type="number" placeholder="العدد الفعلي">
                </div>
                <div class="form-group">
                  <label for="prbuprice">السعر</label>
                  <input id="prbuprice" name="prbuprice" class="form-control" type="number" placeholder="السعر">
				  <span id='showpb'></span>
                </div>
				<div class="form-group">
                  <label for="incra">نسبة الربح</label>
                  <input id="incra" name="incra" class="form-control" type="number" placeholder="نسبة الربح">
                </div>
                <div class="form-group">
                  <label for="prpypric"></label>
                  <input id="prpypric" name="prpypric" class="form-control" type="number" placeholder="سعر البيع">
                </div>
                <div class="form-group">
                  <label for="exampleInputFile">صورة المنتج</label>
                  <div class="input-group">
                    <div class="custom-file">
                      <label class="custom-file-label" id="userimageLabel" for="productimage">Choose file</label>
                      <input name='productimage' accept="image/*" type="file" class="custom-file-input"
                        id="productimage">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-6 col-12">
                      <button id="submitform" style="width: 100%" type="submit" class="btn btn-primary">إضافة منتج</button>
                    </div>
                    <div class="col-lg-6 col-12">
                      <button style="width: 100%" type="reset" class="btn btn-danger">إلغاء</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <!-- /.col -->
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
</div>

{% include  "static/footer.html" %}

<script>
  let shoinc = $("#showpb")
  $("#prbuprice").on("input", function () {
    let bubval = $(this).val(),
		count = $("#rcount").val(),
      sum = parseFloat(bubval / count).toFixed(2) || 0;
    shoinc.html("سعر القطعة : "+ sum + "<sup>EGP</sup>")
  })
    $("#incra").on("input", function () {
    let incval = $(this).val(),
		count = $("#rcount").val(),
		bubval = $("#prbuprice").val()
      sum = parseFloat(bubval / count).toFixed(2) || 0,
	  persent = (parseFloat(incval).toFixed(2) / sum) * (sum / 100),
	  laspercent = parseFloat((persent * sum)),
	  lastprice = parseFloat(sum) + parseFloat(laspercent)
    $("#prpypric").val(lastprice)
  })
</script>

<script>
  $(function () {

    $("#productimage").on("change", function (e) {
      try {
        $("#userimageLabel").text($(this)[0].files[0].name);
      } catch {
        $("#userimageLabel").text("Please Chose File");
      }
    });
    $('#addproduct').validate({
      rules: {
        prname: {
          required: true,
          minlength: 4
        },
        prodcode: {
          required: true,
          minlength: 4
        },
        prbuprice: {
          required: true,
          min: 1
        },
        prpypric: {
          required: true,
        },
        mincount: {
          required: true,
          min: 1
        },
        rcount: {
          required: true,
        },
        productimage: {
          accept: "image/*"
        }

      },
      messages: {
        username: {
          required: "Please enter a Product name",
          minlength: "Your Product name must be at least 4 characters long"
        },
        prodcode: {
          required: "Please provide a Product Code",
          minlength: "Your Product Code be at least 4 characters long"
        },
        prbuprice: {
          required: "Please enter a Product Bought Price",
          min: "Bought Price Must Be More Than or equal 1 at last"
        },
        prpypric: {
          required: "Please enter a Product Pay Price",
          min: "Pay Price Must Be More Than Bought Price"
        },
        mincount: {
          required: "Please enter a Product Min Count",
          min: "Min Count Must Be More Than 1 at last"
        },
        rcount: {
          required: "Please enter a Product Real Count",
          min: "Real Count Must Be More Than Min Count"
        },
        productimage: {
          accept: "This File Is No Image"
        }
      },
      errorElement: 'span',
      errorPlacement: function (error, element) {
        error.addClass('invalid-feedback');
        element.closest('.form-group').append(error);
      },
      highlight: function (element, errorClass, validClass) {
        $(element).addClass('is-invalid');
      },
      unhighlight: function (element, errorClass, validClass) {
        $(element).removeClass('is-invalid');
      },
      submitHandler: function () {
        let form = $('#addproduct');
        $(submitform).on("click", function (e) {
          console.log("formSubmit")
          e.preventDefault();
          let formDate = new FormData(form[0]);
          let csfr = $("[name=csrfmiddlewaretoken]").val();
          let qrcode = $("#gnimg img").attr("src") || ""
          formDate.append("qrcode", qrcode)
          notSubmited = true;
          if (notSubmited) {
            $.ajax({
              url: "/addproduct",
              method: "POST",
              contentType: false,
              cache: false,
              processData: false,
              data: formDate,
              headers: {
                "X-CSRFToken": csfr
              },
              beforeSend: function (e) {
                notSubmited = false;
                $(".loder").show();
              },
              success: function (response) {
                $(".loder").hide();
                notSubmited = true;
                if (response.error == false) {
                  if (response.redirect) {
                    alertify.success(response.succsessText);
                    setTimeout(() => window.location.href = response.redirect, 500);
                  } else {
                    alertify.success(response.succsessText);
                  }
                } else {
                  alertify.error(response.errorText)
                }
              }
            });
          }
        })
      }
    });
  });
</script>













</body>

</html>