{% include  "static/head.html" %}

<div class="content-wrapper">
  <!-- Content Wrapper. Contains page content -->

  <!-- Main content -->
  <section class="content-header">
    <div class="container-fluid">

      <!-- Main content -->
      <section class="content">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">All Product</h3>
          </div>
          <!-- /.card-header -->
          <table id="example" class="display" style="width:100%; padding: 5px;">
            <thead>
              <tr>
                <th>الإسم</th>
                <th> القسم </th>
                <th>تاريخ الإضافة</th>
                <th>سعر الجملة</th>
                <th>سعر البيع</th>
                <th>الكمية</th>
                <th>كود المنتج</th>
                <th>تعديل المنتج</th>
              </tr>
            </thead>
          </table>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </section>
      <!-- /.content -->
    </div>
  </section>
  {% csrf_token %}
</div>
{% include  "static/footer.html" %}

<script>
  let csfr = $("[name=csrfmiddlewaretoken]").val();
  let data = []

  $(document).ready(function () {
    $('#example').DataTable({
      "ajax": {
        url: "/allproduct",
        method: "POST",
        headers: {
          "X-CSRFToken": csfr
        },

      },
      "columns": [{
          "data": "name"
        },
        {
          "data": "catename"
        },
        {
          "data": "date"
        },
        {
          "data": "boughtprice"
        },
        {
          "data": "paypric"
        },
        {
          "data": "rcount"
        },
        {
          "data": "prcode"
        },
        {
          "data": "option"
        }
      ]
    });
  });

  /**
   * Prints an image by temporarily opening a popup
   * @param {string} src - image source to load
   * @returns {void}
   */
  function printImage(src) {
    var win = window.open('about:blank', "_new");
    win.document.open();
    win.document.write([
      '<html>',
      '   <head>',
      '   </head>',
      '   <body onload="window.print()" onafterprint="window.close()">',
      '       <img src="' + src + '"/>',
      '   </body>',
      '</html>'
    ].join(''));
    win.document.close();
  }

  $(document).on("click", function (e) {
    if (e.target.hasAttribute("data-print")) {

      let src = window.location.protocol + "//" + window.location.host + "" +
        $($(e.target).attr("data-print")).attr('src');
      console.log(e.target, src)
      printImage(src);
    }
  });
</script>
</body>

</html>